@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-img{
    background-image: url(./Assets/img1.jpg);
}
.img-2{
    background-image: url(./Assets/img2.jpg);
}
.main-img2{
    background-image: url(./Assets/mi2.webp);
}